<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@AndrewScheidecker" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.lead }}" />
  <meta name="twitter:image" content="/images/WAVM-icon.png" />

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.lead }}" />
  <meta property="og:image" content="/images/WAVM-icon.png" />
</head>


<body>
  <header class="page-section">
    <div class="container-narrow">
    <a href="/"><div class="site-logo"></div></a>
    <nav class="site-nav">
        <a class="site-nav-item btn" href="/">Overview</a>
        <!-- <a class="site-nav-item btn" href="/GettingStarted/">Getting Started</a> -->
        <a class="site-nav-item btn" href="https://github.com/WAVM/WAVM">GitHub</a>
        <!-- <a class="site-nav-item btn" href="/News/">News</a> -->
    </nav>
    </div>
  </header>
  {% if page.lead %}
  <section class="page-section-spacious flush-bottom">
    <div class="container-narrow">
      <p class="lead">{{page.lead}}</p>
    </div>
  </section>
  {% endif %}
